@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Pixelify+Sans&display=swap');
body{
    background-color: darkslategray;
    color: black;
    font-family: Agbalumo;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}